{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!— Latest compiled and minified CSS —>
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!— Size for Mobile Deivce —>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    {%block head%}
    {%endblock%}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%block body%}
    {%endblock%}
</body>
</html>